In [1]:
import pandas as pd
import sys
sys.path.insert(1, "../")
from simulations import lorenz_system
from prototype_nn import Splitting, prototype

In [2]:
df = lorenz_system(0.01, 100, False)

In [3]:
df

       time         x         y          z  initial_x  initial_y  initial_z
0      0.00  1.000000  1.000000   1.000000          1          1          1
1      0.01  1.012566  1.259920   0.984891          1          1          1
2      0.02  1.048821  1.524001   0.973114          1          1          1
3      0.03  1.107206  1.798315   0.965159          1          1          1
4      0.04  1.186865  2.088546   0.961737          1          1          1
...     ...       ...       ...        ...        ...        ...        ...
9995  99.95 -2.914424  3.248325  29.495048          4          4          4
9996  99.96 -2.327941  3.244032  28.635080          4          4          4
9997  99.97 -1.798881  3.216650  27.815939          4          4          4
9998  99.98 -1.323485  3.175996  27.034886          4          4          4
9999  99.99 -0.897517  3.129892  26.289067          4          4          4

[640000 rows x 7 columns]

In [4]:
model = prototype(4, 3, 0.00125)

In [5]:
kfold = Splitting(model, [0,4,5,6], [1,2,3])

In [8]:
train_df, test_df = kfold.split(df, 0.2)

In [9]:
train_df

       time          x          y          z  initial_x  initial_y  initial_z
5759  57.59   0.939821   1.381494  14.362474          1          1          1
1315  13.15   4.773489   8.312242  12.826374          1          1          3
8194  81.94   1.240337   2.199171  16.120361          2          3          2
5072  50.72  12.330174   9.693862  34.646104          1          4          3
8210  82.10  15.410021  18.365904  33.405565          1          1          3
...     ...        ...        ...        ...        ...        ...        ...
6883  68.83 -10.801240 -16.818735  21.051913          4          3          3
2287  22.87  -2.658507  -4.318519  18.025761          3          1          1
3113  31.13 -14.446175 -16.494150  32.868107          3          4          3
666    6.66  -9.413381  -5.911784  32.007436          1          3          2
1598  15.98  -4.025338   4.805376  32.419151          1          2          3

[512000 rows x 7 columns]

In [10]:
test_df

       time          x          y          z  initial_x  initial_y  initial_z
4512  45.12   4.750492   7.323948  17.832687          1          1          3
6182  61.82  -9.620818  -4.175696  34.014012          1          1          1
2424  24.24   9.860406  13.583092  23.546390          1          2          2
4451  44.51  -1.147471  -2.264785  18.287576          1          1          1
1792  17.92  11.602609   7.391030  35.169447          3          4          3
...     ...        ...        ...        ...        ...        ...        ...
9004  90.04  -3.787058  -3.827674  21.417646          3          1          3
6568  65.68   9.052416  13.623423  20.529682          2          2          2
404    4.04  -9.346297  -7.542725  30.178308          3          3          1
9721  97.21   2.313536   4.308265  21.439701          1          2          2
8607  86.07  14.686403  17.275716  32.640134          2          2          3

[128000 rows x 7 columns]

In [ ]:
kfold.cross_validation_evaluate(train_df, 32)

--- fold 0 ---
Epoch: 0  loss: 70.61396789550781
Epoch: 1  loss: 66.48519897460938
Epoch: 2  loss: 69.99608612060547
Epoch: 3  loss: 66.36958312988281
Epoch: 4  loss: 68.44963073730469
Epoch: 5  loss: 62.95287322998047
Epoch: 6  loss: 62.68717575073242
Epoch: 7  loss: 63.18662643432617